<div class = "jumbo">
    <div class = "right tomster">
        <h2> About Ember Calculator</h2>
        <p> The Ember Calculator is a clean and efficient calculator to use for simple calculations.</p>
    </div>
    {{#link-to 'calculator' class = "button"}}
    Calculate!
    {{/link-to}}
</div>
{{outlet}}
